<div class="pull-right">
  <small>
    <%= link_to 'View this genre', @genre %> |
    <%= link_to 'View all genres', genres_path %>
  </small>
</div>

<h4>Update a Genre</h4><br />

<%= render 'form' %>