<div class="pull-right">
  <small>
    <%= link_to 'View this mixtapes', @mixtape %>
    <%= link_to 'View all mixtapes', mixtapes_path %>
  </small>
</div>

<h4>Update a Mixtape</h4>

<%= render 'form' %>