<h2>hello. welcome to xtunes!</h2>

<div class="span6">

</div>

<div class="span3">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <!-- 3 random or latest songs -->
        <img src="http://placehold.it/300x200" alt="">
        <h5>Thumbnail label</h5>
        <p>Thumbnail caption...</p>
      </div>
    </li>
  </ul>
</div>