<div>

  <h4><%= current_user.name %>'s xTunes Songs</h4>

  <div class="row-fluid" "span12">

    <table class="table table-condensed table-hover">

      <%= render :partial => 'shared/user_table_head' %>

      <tbody>
        <%= render :partial => 'shared/user_song', :collection => current_user.songs, :as => :song %>
      </tbody>
    </table>

  </div>

</div>