<div class="pull-right">
  <small>
    <%= link_to 'View all songs', songs_path %>
  </small>
</div>

<div>

  <h4><%= @song.name %></h4>

  <div class="row-fluid" "span12">

    <table class="table table-condensed table-hover">

      <%= render :partial => 'shared/table_head' %>

      <tbody>
        <%= render :partial => 'shared/song', :locals => {:song => @song} %>
      </tbody>
    </table>
  </div>

</div>